.footer {
  padding: 20px 0;
  margin-top: auto;
}

.footer-text {
  font-size: 12px;
  color: var(--color-muted);
  text-align: center;
  margin: 16px 0;
}

.divider {
  border-top: 1px solid var(--color-divider);
  margin: 30px auto;
  width: 100%;
} 